
.drinks {
    margin-top:100px; gap: 20px; 
}


.bg_drinks{
     width: 560px;
    height: 263px;
    background-image: url(../img/summerfruits.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
justify-content: flex-end;
align-items: flex-start;
}


.wrapper-drinks {
   

    width: 247px;
margin: 57px 23px ;


   
}
.bg_drinks:last-of-type{
    background-image: url(../img/dried&drink.png);
}
.wrapper-drinks>h1 {
    color: #FFF;
    font-family: Cerebri Sans Pro;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 34px;
    /* 121.429% */
    text-transform: capitalize;
    margin-bottom: 15px;
}

.wrapper-drinks>p {
    color: #FFF;
    font-family: Cerebri Sans Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    text-transform: capitalize;
    margin-bottom: 30px;
}

