.Blog{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px;
    align-items: flex-start;
}
.blog>img {
    width: 367px;
    height: 259px;
    flex-shrink: 0;
}

h10, h11, h12 {
    color: #2A2A2A;

    font-size: 20px;


    line-height: 30px;
    /* 150% */

}

.blog>p {
    color: #757575;
    font-family: Cerebri Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    margin-top: 10px;

}

.blog>p>span {
    color: #757575;
    font-family: Cerebri Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;

}

.blog>div {
    justify-content: flex-start;
    gap: 10px;
}

.blog>div>p {
    margin-right: 14px;

}

.blog {
    width: 100%;
    max-width: 366px;
    min-width: 330px;

    gap: 20px;
}
